<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>PDF template</title>
  </head>
  <body>
    <div class="container">
        <!-- first -->
      <h1 class="header">ΠΩΛΕΙΤΑΙ</h1>

      <div class="basic-info-container">
        <div class="left-side-info">
          <p class="make-model">Μάρκα - μοντέλο - '09</p>
          <p class="classified-number">car.gr / No. αγγελίας</p>
        </div>
        <div class="price">
          <span class="pr">Τιμή:</span>
          <p>&nbsp;XXXXXX &euro;</p>
        </div>
      </div>

      <div class="details-container">
        <p>
          <span>Χρονολογία: <strong>ΧΧ/ΧΧΧΧ</strong></span
          ><span>Χιλιόμετρα: <strong>ΧΧΧΧΧΧ χλμ</strong></span
          ><span>Καύσιμο: <strong>Στοιχεία</strong></span
          ><span>Ίπποι: <strong>ΧΧΧ bhp</strong></span
          ><span>Κυβικά: <strong>ΧΧΧΧ cc</strong></span>
        </p>
        <p>
          <span>Σασμάν: <strong>Στοιχεία</strong></span
          ><span>Πόρτες: <strong>Χ</strong></span>
        </p>
        <p class="description">
          (Περιγραφή) Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class="footer-section-container">
        <div class="telephone-location">
          <div class="tel">
            <img src="./icons/icons8-phone-26.png" alt="phone" />
            <span>&nbsp;: XXXXXXXXXX</span>
          </div>
          <div class="loc">
            <img src="./icons/icons8-location-50.png" alt="location" />
            <span>&nbsp;: Περιοχή</span>
          </div>
        </div>
        <div class="qr-code">
          <p>Scan me!</p>
          <div class="qr-container"></div>
        </div>
      </div>

      <!-- divider -->
      <div class="divider"></div>

      <!-- Second -->

      <h1 class="header">ΠΩΛΕΙΤΑΙ</h1>

      <div class="basic-info-container">
        <div class="left-side-info">
          <p class="make-model">Μάρκα - μοντέλο - '09</p>
          <p class="classified-number">car.gr / No. αγγελίας</p>
        </div>
        <div class="price">
          <span class="pr">Τιμή:</span>
          <p>&nbsp;XXXXXX &euro;</p>
        </div>
      </div>

      <div class="details-container">
        <p>
          <span>Χρονολογία: <strong>ΧΧ/ΧΧΧΧ</strong></span
          ><span>Χιλιόμετρα: <strong>ΧΧΧΧΧΧ χλμ</strong></span
          ><span>Καύσιμο: <strong>Στοιχεία</strong></span
          ><span>Ίπποι: <strong>ΧΧΧ bhp</strong></span
          ><span>Κυβικά: <strong>ΧΧΧΧ cc</strong></span>
        </p>
        <p>
          <span>Σασμάν: <strong>Στοιχεία</strong></span
          ><span>Πόρτες: <strong>Χ</strong></span>
        </p>
        <p class="description">
          (Περιγραφή) Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class="footer-section-container">
        <div class="telephone-location">
          <div class="tel">
            <img src="./icons/icons8-phone-26.png" alt="phone" />
            <span>&nbsp;: XXXXXXXXXX</span>
          </div>
          <div class="loc">
            <img src="./icons/icons8-location-50.png" alt="location" />
            <span>&nbsp;: Περιοχή</span>
          </div>
        </div>
        <div class="qr-code">
          <p class="second">Scan me!</p>
          <div class="qr-container2"></div>
        </div>
      </div>
    </div>
  </body>
</html>
